<section class="about_sec" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="cntr_alTxt">
                    <h2>About Digital Sourcing</h2>
                    <p>Using a solution where you can find all types of suppliers in the Fashion Industry with a single-click
                        becomes a reality.</p>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="abut_blok">
                    <a href="#">Material producers</a>
                    <p>Cashmere, denim, fabric, synthetic, yarn, wool, leather, Fur, Faux leather, Faux Fur…</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="abut_blok">
                    <a href="#" class="ma_img1">Manufacturers</a>
                    <p>Workshops, prototype units, small production units.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="abut_blok">
                    <a href="#" class="ma_img2">External Resources</a>
                    <p>Embroiderers, QC, auditors, agents, designers, logistics.</p>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="abut_blok">
                    <a href="#" class="ma_img3">Stockists</a>
                    <p>Almost 40% of the total sales in the industry. You have a dedicated section.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="abut_blok">
                    <a href="#" class="ma_img4">RFQs</a>
                    <p>A convenient system based on e-auctions. An additional way of capturing new business.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="abut_blok">
                    <a href="#" class="ma_img5">Jobs</a>
                    <p>A specific section for companies and candidates, we created a new and attractive plan to post jobs.</p>
                </div>
            </div>

        </div>

    </div>
</section>