 <!-- header section start --> 
 <header [ngClass] = "addClass ? 'add-new-class': ''">
    <div class="container">
       <div class="row">

           <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
               <div class="logo">
                   <a href="#" class="logo_img"><img src="../../../assets/images/logo.png"></a>
                   <a href="#" class="logo_scroll"><img src="../../../assets/images/logo_active.png"></a>
               </div>
           </div>
                                               
           <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
              <div class="menu_sec clearfix">
                  <a href="#"></a>
                  <div class="Menu_br">
                    <nav class="navbar navbar-expand-md">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="collapsibleNavbar">
                          <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                              <a class="nav-link" (click) = "scrollThis($event)">Home</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" (click) = "scrollThis($event)">Features</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" (click) = "scrollThis($event)" >Pricing</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" (click) = "scrollThis($event)">Mission</a>
                            </li>
                           <li class="nav-item">
                              <a class="nav-link" (click) = "scrollThis($event)">Contact</a>
                            </li>	
                            <li class="nav-item">
                              <a class="nav-link" href="#">Login</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Fr</a>
                            </li>	  
                          </ul>
                        </div>  
                      </nav>
                  </div>
              </div>
           </div>

       </div>
    </div>
 </header>
<!-- header section end -->
