/** header css start **/
header{display: block;left: 0;position: fixed;right: 0;top: 0;width: 100%;padding: 50px 0px; z-index:9}
header.header2{display: block;left: 0;position: fixed;right: 0;top: 0;width: 100%;padding: 50px 0px; z-index:999;background: #38032d;background: -moz-linear-gradient(left, #38032d 0%, #694683 100%);background: -webkit-linear-gradient(left, #38032d 0%,#694683 100%); /* Chrome10-25,Safari5.1-6 */background: linear-gradient(to right, #38032d 0%,#694683 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38032d', endColorstr='#694683',GradientType=1 ); /* IE6-9 */}
.logo{width: 100%;display: block;}
.logo a{display: inline-block;}
.menu_sec{width: 100%;display: block;}
.Menu_br ul{float: right;margin: 7px 0 0 0;}
.Menu_br ul li{float: left;margin: 0 22px 0 0;}
.Menu_br ul li:last-child{margin-right: 0;}
.Menu_br ul li a{font-size: 16px;color: #fff;display: block;line-height: 17px;position: relative;padding: 0 0 8px;}
.Menu_br ul li a::after{position: absolute;left: 0;bottom: 0;background: #cb297b;width: 0;height: 2px;display: block;content: "";transition: all 0.5s ease; -webkit-transition: all 0.5s ease;}
.Menu_br ul li.active a::after,.Menu_br ul li a:hover::after{width: 100%;transition: all 0.5s ease; -webkit-transition: all 0.5s ease;}
.navbar{padding:0 15px}

.navbar-dark {background-color: transparent;}
/** header css start **/

.add-new-class {
    background: #fff !important;
    box-shadow:2px 2px 15px 2px #0000001f !important;
    z-index:99 !important;
    padding:25px 0 !important;
}
.add-new-class .Menu_br li a{color:#000}
.logo .logo_scroll{display:none;}
.add-new-class .logo_scroll{display:block}
.add-new-class .logo_img{display:none}


.login{position:reative; padding-left:20px}
.login a::before{position:absolute; content:''; top:0; left:-20px; background-color:#fff;
     width:1px; height:65%}

.language{position:relative}
.language a{position:relative}
.language > a::after{display:none!important}
.language > a::before {
    position: absolute;
    content: '';
	    background: url(../../../assets/images/drop_arrow.png) no-repeat ;
    width: 12px;
    height: 7px;
    top: 5px;
    right: -16px;
    border: 0;
	
}
.add-new-class .language .dropdown-menu{background-color:#fff}
.add-new-class .language > a::before{background: url(../../../assets/images/drop_arrow_black.png) no-repeat ;}
.language .dropdown-menu {
    border: 1px solid #e4e4e4!important;
	background:transparent;
	min-width:100px;
}
.language ul.dropdown-menu li {
    display: block;
    margin: 0;
    padding: 0;
	width:100%
}
.language ul.dropdown-menu li a{padding:5px 10px }
.language ul.dropdown-menu li a::after{display:none; }
.language .dropdown-menu li:hover a{color:#000}
.add-new-class .login a::before{background-color:#000;}
/*.language.dropdown:hover>.dropdown-menu {display: block;}*/


@media only screen and (min-width:1024px) and (max-width:1199px){
    header{padding:25px 0px}
    .language .dropdown-menu{right:0; left:auto;}
    .language > a::before{background-size:50%!important}	
    	
}
@media only screen and (min-width:768px) and (max-width:1023px){
    .Menu_br ul li{margin:0 14px 0 0}
    header{padding:25px 0px}
    .language .dropdown-menu{right:0; left:auto;}
    .language > a::before{background-size:50%!important}
    .login{padding-left:0}
    .login a::before{left:-10px}	
}


@media only screen and (max-width:767px){
    header{padding:25px 0}	
   
    header .navbar-toggler {position: absolute; right: 0px; top: -32px; width: 35px; height: 35px; padding: 5px 7px;  border-radius: 4px; display: block; z-index:9; border:1px solid #fff}
    header .navbar-toggler-icon {position: relative; height: 2px; background: #fff; width: 100%; display: block; top: 0px;}
    header .navbar-toggler-icon::after {content: ""; position: absolute; height: 2px; background: #fff; width: 100%; display: block; top: -6px;}
    header .navbar-toggler-icon::before {content: ""; position: absolute; height: 2px; background: #fff; width: 100%; display: block; top: 6px;}
    header .Menu_br ul{float:left; width:100%; padding:15px 50px 15px 15px}
    header .Menu_br ul li{margin:0 22px 25px 0}
    header .Menu_br .navbar-collapse{background:#fff; margin-top:10px; 
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 0 0 12px 3px #fff;
    }
    header .navbar{padding:0}
    header .Menu_br ul li a{color:#000; font-size:18px}
    header .navbar-toggler:focus{outline:none}
    /*header.add-new-class{position:static; overflow:auto}*/
    header.add-new-class .navbar-toggler-icon{background-color:#000;}
    header.add-new-class .navbar-toggler{border:1px solid #000}
    header.add-new-class .navbar-toggler-icon::after{background-color:#000;}
    header.add-new-class .navbar-toggler-icon::before{background-color:#000;}
    .Menu_br ul li a::after{display:none}
     .logo{max-width:100%; } 
     .login a::before{top:0; height:1px; width:100%; background-color:#ccc!important}
     .login a{padding-top:10px!important}
     .login{padding-left:0}
     .login a::before{left:0px}
     .Menu_br ul li.login a{padding-top:30px!important}
     .language ul li:last-child{margin:0 0 10px!important}
    
  
     .language > a::before{right:auto; left:21px; background: url(../../../assets/images/drop_arrow_black.png) no-repeat ;}
}

@media only screen and (max-width:479px){
    .logo{max-width:250px; } 
}