
<header #header [ngClass]="{ 'add-new-class': addClass, 'header2': path !== ''}">
  <div class="container">
    <div class="row">

      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <div class="logo">
          <a href="#" class="logo_img"><img src="../../../assets/images/logo.png"></a>
          <a href="#" class="logo_scroll"><img src="../../../assets/images/logo_active.png"></a>
        </div>
      </div>

      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <div class="menu_sec clearfix">
          <a href="#"></a>
          <div class="Menu_br">
            <nav class="navbar navbar-expand-md">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item" [ngClass]="currentEvent == 'Home'  ? 'active': ''">
                    <a class="nav-link" (click)="onHomeClicked($event)" >Home</a>
                  </li>
                  <li class="nav-item" [ngClass]="currentEvent == 'Features' ? 'active': ''">
                    <a class="nav-link" 
                    [routerLink] = "['/']" 
                    href="#features" 
                    pageScroll 
                    [pageScrollInterruptible]="false" 
                    [pageScrollDuration]="2000"
                    (pageScrollFinish)="doSmth('Features')" >Features</a>
                  </li>
                  <li class="nav-item" [ngClass]="currentEvent == 'Pricing' ? 'active': ''">
                    <a 
                    class="nav-link" 
                    [routerLink] = "['/']" 
                    href="#pricing" 
                    pageScroll 
                    [pageScrollInterruptible]="false" 
                    [pageScrollDuration]="3000"
                    (pageScrollFinish)="doSmth('Pricing')" >Pricing</a>
                  </li>
                  <li class="nav-item" [ngClass]="currentEvent == 'Mission'  ? 'active': ''">
                    <a class="nav-link" (click) = "onMissionClick($event)" >Mission</a>
                  </li>
                  <li class="nav-item" [ngClass]="currentEvent == 'partner-iff'  ? 'active': ''">
                      <a class="nav-link" (click) = "onPartnersClick($event)" >Partners</a>
                  </li>                  
                  <li class="nav-item contact" [ngClass]="currentEvent == 'Contact' ? 'active': ''">
                    <a class="nav-link" 
                    [routerLink] = "['/']" 
                    href="#contact" 
                    pageScroll 
                    [pageScrollInterruptible]="false" 
                    [pageScrollDuration]="5000"
                    (pageScrollFinish)="doSmth('Contact')" >Contact</a>
                  </li>
                  <li class="nav-item login" [ngClass]="currentEvent == 'Login' ? 'active': ''">
                    <a class="nav-link" href="#" (click)="scrollThis($event)">Login</a>
                  </li>
                  <li class="nav-item language dropdown" [ngClass]="currentEvent == 'Fr' ? 'active': ''">
                    <a class="nav-link" href="#" (click)="scrollThis($event)" class="dropdown-toggle" data-toggle="dropdown">Fr</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">English</a></li>
                      <li><a class="dropdown-item" href="#">Italiano</a></li>
                      <li><a class="dropdown-item" href="#">Français</a></li>
                    </ul>             
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>

    </div>
  </div>
</header>
