
<div class="help-planet">
  <div class="help-planet-banner">
    <img src="../../assets/images/help-planet.jpg" alt="">
    <div class="help-planet-con">
      <div class="help-planet-text">
        <h2>Why</h2>
        <p>We Help The Planet.</p>
      </div>
    </div>
  </div>
  <div class="banner-bottom-text">
    <div class="help-planet-con">
      <h2>We Help The Planet</h2>
      <p>Fashion Sourcing is environment conscious and wants to participate in many intitiatives. Together and through
        a participation from your subscription, we help the planet.</p>
      <p>Every year we will choose 2/3 foundations and split our donations among selected projects.</p>
      <p>We will establish a detailed report at the end of each year.</p>
      <img src="../../assets/images/globe-edu.png" alt="">
    </div>
  </div>
</div>
