<div class="signup-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-xs-12 col-lg-7 col-sm-7">
        <div class="signup-left-container">
          <h2>The simplest cloud platform for developers & teams</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.</p>
        </div>
      </div>
      <div class="col-md-5 col-xs-12 col-lg-5 col-sm-5">
        <app-sigunup-form></app-sigunup-form>
      </div>
    </div>
  </div>
</div>