<div class="signup-wrapper">
  <div class="row background-class">
    <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6">
      <div class="row">
        <h2>The simplest cloud platform for developers and teams</h2>
      </div>
      <div class="row" style="padding-left: 20px">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
          Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
          Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
    <div class="col-md-1 col-xs-1 col-lg-1 col-sm-1"></div>
    <div class="col-md-5 col-xs-5 col-lg-5 col-sm-5">
      <app-sigunup-form></app-sigunup-form>
    </div>
  </div>
</div>
