<section class="banner_sec">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="m_img_lft clearfix">
          <div class="lt_sml">
            <img src="../../../assets/images/smal_mobil.png">
          </div>
          <div class="rt_sml">
            <img src="../../../assets/images/big_laptop.png">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="baner_cTxt">
          <h1>A 360 APPROACH TO DIGITAL SOURCING</h1>
          <a href="#" class="met_btn">Meet the standard</a>

          <div class="mouse-icon">
            <a data-attr="enento" href="javascript:void(0)" class="scrol_img">
              <img class="animated bounce" src="../../../assets/images/bnr_ero.png">
            </a>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="botm_flor clearfix">
          <div class="dunya"></div>
        </div>
      </div>
    </div> -->

  </div>
</section>
