<div class="card">
  <div class="card-header">
    <h5>Edit Coupon:</h5>
  </div>
  <div class="card-block">
    <form [formGroup]="editCouponForm" (ngSubmit)="editCoupon()">
      <div class="row">
        <label class="col-sm-4 col-lg-4 col-form-label">Name</label>
        <div class="col-sm-8 col-lg-8">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter Name" formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <label class="col-sm-4 col-lg-4 col-form-label">Module:</label>
        <div class="col-sm-8 col-lg-8">
          <select class="input-group" name="module" formControlName="module">
            <option [ngValue]="null" disabled>Select One</option>
            <option *ngFor="let module of modules" [ngValue]="module">
              {{ module }}
            </option>
          </select>
        </div>
      </div>
  <div class="row">
    <label class="col-sm-4 col-lg-4 col-form-label">Discount</label>
    <div class="col-sm-8 col-lg-8">
      <div class="input-group">
        <input type="number" class="form-control" placeholder="Enter discount(%)" formControlName="discount" min="1"
          max="100">
      </div>
    </div>
  </div>

  <div class="row">
    <label class="col-sm-4 col-lg-4 col-form-label">Status</label>
    <div class="col-sm-8 col-lg-8">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Status" formControlName="status">
      </div>
    </div>
  </div>

  <div class="row">
    <label class="col-sm-4 col-lg-4 col-form-label">Valid Up to:</label>
    <div class="col-sm-8 col-lg-8">
      <div class="input-group">
        <input type="email" class="form-control" placeholder="Enter expiry date" formControlName="expiresOn"
          ngbDatepicker #d="ngbDatepicker">
        <button type="button" (click)="d.toggle()"><i class="fa fa-calendar"></i></button>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-3 col-lg-3">
      <button class="btn btn-primary btn-round" type="submit">Done</button>
    </div>
    <div class="col-sm-3 col-lg-3">
      <button class="btn btn-warning btn-round" type="button" (click)="closeModal()">Cancel</button>
    </div>
    <div class="col-sm-3 col-lg-3">
      <button class="btn btn-info btn-round" type="button" (click)="clearModal()">Clear</button>
    </div>
  </div>
  </form>
</div>
</div>
