<div class="globe__placeholder">
    <div class="globe__container">
      <div class="globe" style="visibility: hidden;">
        <div class="globe__sphere"></div>
        <div class="globe__outer_shadow"></div>
        <div class="globe__reflections__bottom"></div>

        <div class="globe__worldmap">
          <div class="globe__worldmap__back"></div>
          <div class="globe__worldmap__front"></div>
        </div>

        <div class="globe__inner_shadow"></div>
        <div class="globe__reflections__top"></div>
      </div>
    </div>
</div>