<section class="accordion faq_sec" id="faqExample" data-aos="fade-up" data-aos-delay="100">
  <div class="container">
    <div class="cntr_alTxt">
	  <h2>FAQ</h2>
	</div>
    <div class="row">
	  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	     <div class="faq_wrap">

   <div class="card">
      <div class="card-header" id="heading1">
         <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
               I have my suppliers
            </button>
         </h5>
      </div>
      <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#faqExample">
         <div class="card-body">
            <p>Fashion constantly needs  new sources, new trends, as well as "niche" suppliers for specific projects. You will have access to a large array of suppliers worldwide with different and complementary expertises. You may choose new suppliers in cost-effective countries, or suppliers in close locations so as to limit carbon footprint. With the rise of fast fashion, there will be a need to produce more collections than before. You need to secure your purchasing processes so you can find additional suppliers who can react quickly to your needs. And with our Gallery, you have the opportunity to find new products which fit  your collection requirements.</p>
		
         </div>
      </div>
   </div>
   <div class="card">
      <div class="card-header" id="heading2">
         <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
               How can I trust the supplier
            </button>
         </h5>
      </div>
      <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#faqExample">
         <div class="card-body">
            <p>The supplier is offered a paid on-site Audit at a competitive price. He gets a report from the audit firm and he conducts necessary actions to ensure quality compliance of his unit.  Checking the supplier's company profile,  you have access to his certifications and financials.  You can also find videos and pictures of the factory, which you wouldn't have in a tradeshow. </p>
            <p>For large firms, we implement a blacklist feature so they can identify  factories with whom not to work. We get notifications from buyers in case a supplier does not give satisfactory service : we open a claim and ensure a follow-up. The supplier gets a notification and after 3 bad recommendations, we close his account.</p>
         </div>
      </div>
   </div>
   <div class="card">
      <div class="card-header" id="heading3">
         <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
            I prefer to visit tradeshows
            </button>
         </h5>
      </div>
      <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#faqExample">
         <div class="card-body">
               Tradeshows are available a few days per year and can represent a high cost depending on the number of staff attending.  It is difficult in a few days to identify and acquire many new suppliers. This solution allows you to conclude new deals all year round.
         </div>
      </div>
   </div>
   <div class="card">
      <div class="card-header" id="heading4">
         <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
            What are the advantages?
            </button>
         </h5>
      </div>
      <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#faqExample">
         <div class="card-body">
               You join a single platform. You can re-shore part or all of your sourcing. You can find new or scarce resources to respond to new needs. You can choose to centralise production sites. 
         </div>
      </div>
   </div>
   <div class="card">
      <div class="card-header" id="heading5">
         <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
            What's the difference between all platforms?
            </button>
         </h5>
      </div>
      <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#faqExample">
         <div class="card-body">
               We think of the fashion industry as an entire chain of value so we incorporate all segments which our competitors don't. With our solution, brands can find manufacturers, materials, expertise, finished products, trends, etc. Our competition is either limited to specific fabrics,  production, or limited geographical coverage. 
         </div>
      </div>
   </div>
   <div class="card">
      <div class="card-header" id="heading6">
         <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
            Can I pay in 3/4 times
            </button>
         </h5>
      </div>
      <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#faqExample">
         <div class="card-body">
            No, it's a one-time payment
         </div>
      </div>
   </div>
   <div class="card">
      <div class="card-header" id="heading7">
         <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
              We have not budgeted for this solution
            </button>
         </h5>
      </div>
      <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#faqExample">
         <div class="card-body">
               You could acquire a "starter" plan to test the value of our solution. It represents the equivalent of a plane ticket to visit a tradeshow. We can upgrade you to other plans if you decide to benefit from additional features.
         </div>
      </div>
   </div>   
		   
		 </div>
	  </div>
	  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	     <div class="faq_wrap">

   <div class="card">
      <div class="card-header" id="heading8">
         <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
             We have our own e-sourcing software to launch RFQs. Why do I need your solution?
            </button>
         </h5>
      </div>
      <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#faqExample">
         <div class="card-body">
               It is convenient to work on a single platform to search for suppliers and source directly. The RFQ feature allows you to spread the  research among  qualified suppliers who comply to your requirements. The e-auction feature will ensure you get best prices possible at equivalent quality levels. You can start using the RFQ feature on small requests to test ease of use and successful completion.
         </div>
      </div>
   </div>
   <div class="card">
      <div class="card-header" id="heading9">
         <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
              Why should I choose your job post plan as opposed to choosing a  company specialised in recruitment?
            </button>
         </h5>
      </div>
      <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#faqExample">
         <div class="card-body">
               Through our solution, we decided to represent the entire value chain of the Fashion Industry. Our offer would not be complete if it didn't cover talent acquisition. We allow you to post job openings which will be accessible by all of our community; suppliers, experts, students... thereby increasing chances of finding the right profiles to join your team. The pricing is competitive because we do not participate in the recruitment steps as such, and you have complete control over the content of your Post.
         </div>
      </div>
   </div>
   <div class="card">
      <div class="card-header" id="heading10">
         <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
            Do I have knowledge of the suppliers that have been blacklisted by other users?
            </button>
         </h5>
      </div>
      <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#faqExample">
         <div class="card-body">
               You have access to the suppliers that have been blacklisted in your own organisation. We follow up on the total list of blacklisted suppliers. After 3 negative reports, we remove the supplier from our platform.
         </div>
      </div>
   </div>
   <div class="card">
      <div class="card-header" id="heading11">
         <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
            I'm not confident to pay online
            </button>
         </h5>
      </div>
      <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#faqExample">
         <div class="card-body">
               We are using a well known, reliable and secure payment gateway, as do other large players of the internet.
         </div>
      </div>
   </div>
   <div class="card">
      <div class="card-header" id="heading12">
         <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
               Can I make a swift?
            </button>
         </h5>
      </div>
      <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#faqExample">
         <div class="card-body">
               Swifts are accepted. You will pay all bank fees. Your account will be opened after receiving the full payment.  It may take 5 business days.
         </div>
      </div>
   </div> 
    

		 </div>
	  </div>
	</div>
  </div>
</section>