<div class="mission-wrapper">
  <div class="out-mission">
    <img src="../../assets/images/our-mission.jpg" alt="">
    <div class="our-mission-con">
      <div class="our-mission-banner-content">
        <h2>our mission</h2>
        <div class="black-tect-con">
          <p>By reengineering the traditional sourcing process, we aim to promote innovation and creativity so that
            creation does not stop.</p>
          <p>We have passionately developed a solution to make quality suppliers and buyers aware of
            the businesses around them.</p>
          <p>Our ultimate aim is to be the most trusted, convenient provider and advisor in the fashion industry.</p>
        </div>
        <a href="" class="banner-btn">Join Us</a>
      </div>
    </div>
  </div>
  <div class="vision-team">
    <div class="our-mission-con">
      <div class="our-vision vision-team-col">
        <h3 class="mission-h3">Our Vision</h3>
        <p>Our vision is to encourage business relations and act as a trusted partner of the brands and suppliers.</p>
        <p>With the commitment to build value, we strive to provide a platform where suppliers and buyers connect to
          discover sourcing opportunities in the easiest way possible.</p>
        <p>By bringing a change in the sourcing codes, our ultimate aim is to beneﬁt the fashion industry.</p>
        <img src="../../assets/images/our-vission.jpg" alt="">
      </div>
      <div class="our-team vision-team-col">
        <h3 class="mission-h3">Our Team</h3>
        <p>With 30+ years of experience in Sourcing &
          Production. Our well-seasoned team brings a
          wealth of experience to provide a one-stop sourcing
          platform to all the suppliers and buyers of the
          fashion industry.
        </p>
        <div class="spacer"></div>
        <img src="../../assets/images/our-team.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="our-resource">
    <div class="our-mission-con">
      <h3 class="mission-h3">Our Resources</h3>
      <p>Fashion Sourcing counts more than 300 sourcers who span the globe to identify, visit and reference plants and
        diverse
        suppliers. Their constant efforts guarantee that our database grows to integrate a large number of players who
        can
        beneﬁt the fashion industry with unique know-how and relevant capacity.
      </p>
    </div>
  </div>
  <div class="our-partner">
    <div class="our-mission-con">
      <div class="our-partner-inner">
        <h3 class="mission-h3">Our Partners</h3>
        <div class="partner-row">
          <div class="partner-img">
            <img src="../../assets/images/audit.jpg" alt="">
          </div>
          <div class="partner-detail">
            <p>As part of our subscription packages, we offer suppliers the possibility to go through an audit with
              state-of-the-art and world renown ﬁrms. For many brands, the fact that a supplier has been audited can
              respond to a compliance requirement and may present a valuable criteria during the selection process.
              <span class="pink-star">*</span></p>
            <small><span class="pink-star">*</span>For more information, please <a href="">contact us</a>.</small>
          </div>
        </div>
        <div class="partner-row">
          <div class="partner-img">
            <img src="../../assets/images/trendbook.jpg" alt="">
          </div>
          <div class="partner-detail">
            <p>We work in partnership with leading trend consultancy agencies who promote our
              solution among brands around the world. <span class="pink-star">*</span></p>
            <small><span class="pink-star">*</span> For more information, please contact our <a href="">sales
                department</a>.</small>
          </div>
        </div>
        <div class="partner-row">
          <div class="partner-img">
            <img src="../../assets/images/national.jpg" alt="">
          </div>
          <div class="partner-detail">
            <p>We work hand in hand with the Fashion industry professional associations and federations. These
              organisations play a
              valuable role in encouraging their members to embark on new digital solutions around emerging sourcing
              methods. <span class="pink-star">*</span></p>
            <small><span class="pink-star">*</span> For more information, please <a href="">contact us</a>.</small>
          </div>
        </div>
        <div class="partner-row">
          <div class="partner-img">
            <img src="../../assets/images/fashion-school.jpg" alt="">
          </div>
          <div class="partner-detail">
            <p>We believe fashion schools prepare the future players of the industry. By placing our solution in major
              establishments,
              we play an active role in the way they will capitalise on the tools to increase productivity and
              efﬁciency in the
              sourcing processes of tomorrow. <span class="pink-star">*</span></p>
            <small><span class="pink-star">*</span> For more information, please <a href="">contact us</a>.</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
