<!--welcome-hero start -->
<section id="welcome-hero" class="welcome-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="header-text">
        </div>
        <!--/.header-text-->
      </div>
      <!--/.col-->
    </div><!-- /.row-->
  </div><!-- /.container-->

</section>
<!--/.welcome-hero-->
<!--welcome-hero end -->

<!--about start -->
<section id="about" class="about">
  <div class="section-heading text-center">
    <h2 id="ptxt">Fashion Sourcing is proud to collaborate <br />with IFF and to promote the fur supply chain</h2>
  </div>
  <div class="container">
    <div class="container">
      <div class="row">
        <div>
          <div class="single-about-txt">
            <h3>
              IFF brief Presentation
            </h3>
            <p>
              The Internaional Fur Federation was established in 1949 and is the only global organisation to
              represent the international fur industry and regulate its practices and trade. The federation
              promotes the business of fur, establishing certification and traceability programmes on welfare and
              the environment. It is also committed to supporting young designers and retailers who intend to go
              into fur and fashion. <br /><br />
              The International Fur Federation represents 56 members associations in over 40 countries around
              the world. The members encompass all parts of the fur trade including farmers, trappers, dressers,
              manufacturers, brokers, auction houses, retailers and designers. Each of these members have signed
              a strict code of conduct committing them to upholding the industry-relevant laws they fall under in
              their home countries.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!--/.about-->
<!--about end -->

<section id="education" class="sizer">
  <!-- <div class="section-heading text-center">
    <iframe src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" width="400" height="320" align="center"></iframe>
  </div> -->
  <div class="container">
    <div class="about-content">
      <div class="column">
        <div class="single-about-txt">
          <p>Nowadays, the rising concern about the impact of plastics in our oceans and land bring many
            challenges to the consumer regarding what is safe to buy. In an era of fast fashion, the young
            generation are turning their attention to sustainable, natural and environmentally friendly
            textiles as opposed to fakes. That brings the topic of natural fur versus fake and plastic fur
            to the forefront of today’s fashion media. Love it or hate it, fur is never far out of the
            news. With a trade worth valued at over 30 billion USD a year, it is clear that despite its
            critics fur is still in demand by millions of consumers. The sustainability of natural fur is
            what the fur industry believes will keep fur on the shelves and on the catwalks for as long as
            the consumer has freedom of choice. <br /><br /> Fur is one of the most sustainable,
            environmentally friendly materials used in fashion today, recycling resources in a way few
            other industries come close to matching. Today, The International Fur Federation is in the
            process of developing FURMARK - an independent world-class, comprehensive certification and
            traceability program that covers sustainability, animal welfare and the dressing and dyeing of
            fur. <br /><br />
            FURMARK is a guarantee of commitment to the highest sustainability standards and assurance that
            the fur industry is striving to further improve the sustainability of the sector. The program
            will be launched globally in 2020 and the federation is currently establishing the
            infrastructure, protocols and partners to deliver the program. FURMARK covers all aspects of
            the fur trade and after 2020 FURMARK certified furs will be sold through the auction houses
            globally.
            <br /><br />
            The FURMARK label will help brands and retailers offer reassurance to consumers. It is an
            assurance scheme that demonstrates the sustainability of the fur industry and gives consumers
            confidence to select fur as a natural and sustainable choice.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="webcoderskull-area" class="webcoderskull-law-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="separator">
          <span class="single-line-middle"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="webcoderskull-item">
          <i class="fa fa-flask" aria-hidden="true"></i>
          <h3><a href="#">Science</a></h3>
          <p>Certiﬁcation programs and protocols are science based and will be approved by independent
            experts.</p>
          <br /><br /><br /><br /><br /><br />
          <!--a href="" class="learn-more">Learn more</a-->
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="webcoderskull-item">
          <i class="fa fa-bug" aria-hidden="true"></i>
          <h3><a href="#">Independent inspection</a></h3>
          <p>Veriﬁcation systems at each stage of the supply chain will be conducted by independent
            third-party experts and publicly available.</p>
          <br /><br /><br /><br /><br />
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="webcoderskull-item">
          <i class="fa fas fa-check-double" aria-hidden="true"></i>
          <h3><a href="#">Transparency</a></h3>
          <p>Certiﬁcation programs must meet national regulations and ISEAL’s credibility principles
            (International Social & Environmental Standards Accreditation & Labelling Alliance), the global
            membership association for credible sustainability standard's credibility principles.</p>
          <br />
        </div>
      </div>
    </div> <!-- End Row -->
  </div> <!-- End Container -->
</section>
<br /><br />

<div class="container">
  <div class="about-content">
    <div class="column">
      <h3>Notes to Editors</h3>
      <div class="single-about-txt">
        <p>
          <i class="fa fa-angle-right" aria-hidden="true"></i>
          For further information on the FURMARK program please visit<a href="www.furmark.com" style="color:#950CC3;">
            www.furmark.com.</a> The website and materials will be continuously updated as the program
          develops ahead of the launch in 2020.
          <br /><br />
          <i class="fa fa-angle-right" aria-hidden="true"></i>
          The speciﬁc programs covered by FURMARK are as follows:
        </p>
      </div>
    </div>
  </div>
</div>

<div class="svg-container">
  <img src="../../assets/images/donutgraph.png" alt="Graph not displayed" style="width: 50%; height: auto;">
  <h1 id="ptxt">Fashion Sourcing is an Official partner of IFF</h1>
</div>