<section class="form_sec" data-aos="fade-up" data-aos-duration="4000" data-aos-delay="50">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="cntr_alTxt getP">
					<h2>Let's Get In Touch</h2>
					<p>Please complete the form and we’ll get back to you soon.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<div class="address_block">
					<div class="add_col">
						<p class="add_p"><span>98 Rue de Longchamp</span>
							<span>75116 Paris</span>
							<span>France</span></p>
						<p class="mail_p">info@fashionsourcing.com</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="form_block">
					<div class="form-group">
						<input type="text" class="form-control colm_fld" placeholder="Full Name*">
						<input type="text" class="form-control colm_fld" placeholder="Last Name*">
					</div>
					<div class="form-group">
						<input type="email" class="form-control" placeholder="Business Email*">
					</div>
					<div class="form-group">
						<input type="text" class="form-control colm_fld" placeholder="Job Title*">
						<input type="text" class="form-control colm_fld" placeholder="Company Name*">
					</div>
					<div class="form-group">
						<select class="form-control">
							<option>Country</option>
							<option>India</option>
							<option>Nepal</option>
							<option>England</option>
						</select>
					</div>
					<div class="form-group">
						<label>Subject</label>
						<textarea class="form-control"></textarea>
					</div>
					<a href="#" class="primary-btn banner-btn mt-4" style=" color: #000;">Submit Form</a>
				</div>
			</div>
		</div>
	</div>
</section>