.buyer_sec{width:100%; display:block; background:url('../../../assets/images/rfq_bg.png') no-repeat; background-position: top center; background-size: cover; min-height:412px; padding:50px 0 40px; margin-bottom:135px;}
.buyer_sec h2{font-size:20px; margin-bottom:22px; font-weight:700; color:#000}
.buyer_sec ul li{margin-bottom:22px; font-size:16px; background:url('../../../assets/images/list_icn.svg') no-repeat; background-position:left 3px; padding-left:35px; background-size:20px}
.buy_col{padding-left:46px}


@media only screen and (max-width:767px){
    .buyer_sec{margin-bottom:100px}
    .buy_col{margin-bottom:50px; padding-left:0}

}