<!-- start footer sec -->
<footer class="footer_container">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 footer">
          <div class="footer_nav">
            <ul>
              <li>company</li>
              <li><a href="">home</a></li>
              <li><a href="">features</a></li>
              <li><a href="">Pricing</a></li>
              <li><a href="">Mission</a></li>
              <li><a href="">Contact</a></li>
              <li><a href="">login</a></li>
            </ul>
            
            <ul class="help_li">
              <li>social</li>
              <li><a href="">we help the planet</a></li>
              <li><a href="">privacy</a></li>
              <li><a href="">copyrights</a></li>
            </ul>
  
            <ul>
              <li>support</li>
              <li><a href="">helpdesk</a></li>
              <li><a href="">security</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <div class="footer_logo">
            <a href="#"><img src="../../../assets/images/footer_logo.png" alt=""/></a>
          </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
          <div class="social_box">
            <a class="help_btn" href="#">we help the planet</a>
            <ul>
              <li><a href="#"><img src="../../../assets/images/Facebook.svg" alt=""/></a></li>
              <li><a href="#"><img src="../../../assets/images/Instagram.svg" alt=""/></a></li>
              <li><a href="#"><img src="../../../assets/images/Youtube.svg" alt=""/></a></li>
              <li><a href="#"><img src="../../../assets/images/LinkedIn.svg" alt=""/></a></li>
              <li><a href="#"><img src="../../../assets/images/Pintrest.svg" alt=""/></a></li>
            </ul>
            
            <p>&copy; fashionsourcing.com  |  <a href="#">privacy policy</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- end footer sec -->