<footer class="container-fluid bg-black py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="logo-part">
          <!--img src="" class="w-50 logo-footer"-->
          <h4>FASHION SOURCING</h4>
          <p>Meet the Standard</p>
          <!--p>Use this tool as test data for an automated system or find your next pen</p-->
        </div>
      </div>
      <div class="col">
        <div class="col-lg- address">
          <h6> Address</h6>
          <p style="margin-bottom: 10px;">98 Rue de Longchamp,<br />75116 paris, France</p>
          <a href="#" class="btn-footer"> Contact Us </a>
        </div>
      </div>
      <div class="col-sm">
        <h6> Explore</h6>
        <ul>
          <li> <a href="#"> Home</a> </li>
          <li> <a href="#"> Features</a> </li>
          <li> <a href="#"> Pricing</a> </li>
          <li> <a href="#"> Mission</a> </li>
          <li> <a href="#"> Partners - IFF page</a> </li>
          <li> <a href="#"> Login</a> </li>
        </ul>
      </div>
      <div class="col-sm">
        <h6> Legal</h6>
        <ul>
          <li> <a href="#"> Terms</a> </li>
          <li> <a href="#"> Policy</a> </li>
          <li> <a href="#"> Copyrights</a> </li>
        </ul>
      </div>
      <div class="col social">
        <h6> Social</h6>
        <div class="wrapper">
          <ul>
            <li class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></li>
            <li class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></li>
            <li class="youtube"><i class="fa fa-youtube" aria-hidden="true"></i></li>
            <li class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></li>
          </ul>
        </div>
        <p class="leaf">
          <a (click) = "onHelpPlanetClicked($event)">We help the planet <i class="fa fa-leaf"></i></a>
        </p>
      </div>
    </div>
    <p class="copyright"><i class="fa fa-copyright"></i>
      <a href="#" id="copy"> Copyrights</a> Fashion Sourcing 2018</p>
  </div>
</footer>