<section class="stock_sec" data-aos="fade-up" data-aos-delay="100">
  <div class="container">
     <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
           <div class="cntr_alTxt stockTxt">
              <h2>Stock features</h2>
               <p class="red">Get Stock not stuck</p>
               <p> Stocklots, production surplus, excess, liquidated, end of line goods, 
                  <span>labelled or not, excess clearance, closeout.</span></p>
             </div>
         </div>
     </div>
     <div class="row">
       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
         <div class="stock_box">
           <div class="stock_img">
               <img src="../../../assets/images/stock_icn1.png" />
           </div>
           <div class="stock_txt">
             <div class="txt_width"><p>Easy Access to the database for updates.</p></div>
           </div>
         </div>
       </div>
       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="stock_box">
              <div class="stock_img">
                  <img src="../../../assets/images/stock_icn2.png" />
              </div>
              <div class="stock_txt">
                  <div class="txt_width">
                    <p>We offer a single and dynamic platform dedicated especially 
                        for you stockists.</p>
                  </div>
              </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="stock_box">
                <div class="stock_img">
                    <img src="../../../assets/images/stock_icn3.png" />
                </div>
                <div class="stock_txt">
                    <div class="txt_width">
                      <p>We allow dealers, suppliers, 
                          resellers, to post stocklots and deal directly with buyers.
                          </p>
                    </div>
                </div>
              </div>
          </div>
     </div>
     <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="stock_box">
            <div class="stock_img">
                <img src="../../../assets/images/stock_icn4.png" />
            </div>
            <div class="stock_txt">
               <div class="txt_width">
                  <div class="txt_width">
                    <p>Bid your best offer through a
                        stock Auction !</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
           <div class="stock_box">
               <div class="stock_img">
                   <img src="../../assets//images/stock_icn5.png" />
               </div>
               <div class="stock_txt">
                  <div class="txt_width">
                    <p>Enlarge everyday your dealer and supplier network.</p>
                  </div>
               </div>
             </div>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
             <div class="stock_box">
                 <div class="stock_img">
                     <img src="../../../assets/images/stock_icn6.png" />
                 </div>
                 <div class="stock_txt">
                    <div class="txt_width">
                      <p>Post everyday, your stocks won’t get stuck.</p>
                    </div>
                 </div>
               </div>
           </div>
      </div>
  </div>
  <div class="stock_full_img">
      
  </div>
</section>


