<section class="job_sec" data-aos="fade-up" data-aos-delay="100">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="cntr_alTxt job_topTxt">
          <h2>Job Posting</h2>
          <ul>
            <li><span>Meet the new, economically attractive way to find candidates!</span></li>
            <li><span>An integrated solution to bring the right profiles to you.</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row posting_list">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <ul>
          <li>Manage your dedicated page by
            posting, editing, customizing</li>
        </ul>
      </div>
      <div class="row posting_list">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <ul>
            <li>Manage your dedicated page by
              posting, editing, customizing</li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <ul>
            <li>With our help, it becomes an integral
              part of your overall sourcing experience</li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <ul>
            <li>Posting job opportunities worldwide can
              be a constraining and costly process.</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="job_box company_box">
            <div class="post_img">
              <img src="../../../assets/images/company_img.png" />
            </div>
            <div class="job_postTxt">
              <h2>Companies</h2>
              <p>Management tools for full autonomy</p>
              <p>Competitive packages</p>
              <p>User friendly interface</p>
              <p>30 days publication time</p>
              <p>Customize your page to fit your brand Image</p>
              <p>Package validity not limited in time</p>
              <p>Worldwide coverage</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="job_box company_box">
            <div class="post_img">
              <img src="../../../assets/images/candidate_img.png" />
            </div>
            <div class="job_postTxt">
              <h2>Candidates</h2>
              <p>Join our Job Section for free</p>
              <p>Consult job posts every day</p>
              <p>Create your wishlist</p>
              <p>Direct contact with companies</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
