<!--The content below is only a placeholder and can be replaced.-->
<app-header-component [features] = "featr"></app-header-component>
<app-banner-component></app-banner-component>
<app-about-component></app-about-component>
<app-segments-component></app-segments-component>
<app-help-yrself-component></app-help-yrself-component>
<app-built-platform></app-built-platform>
<app-rfq-features #rfqFeature ></app-rfq-features>
<app-buyer-feature></app-buyer-feature>
<app-stock-feature></app-stock-feature>
<app-job-posting></app-job-posting>
<app-job-post-plan></app-job-post-plan>
<app-buyer-component></app-buyer-component>
<app-supplier-component></app-supplier-component>
<app-supplier-subscription-component></app-supplier-subscription-component>
<app-faq-component></app-faq-component>
<app-form-component></app-form-component>
<app-our-location-component></app-our-location-component>
<app-footer-component></app-footer-component>
<router-outlet></router-outlet>