<section class="rfq_sec" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="cntr_alTxt rfqTxt">
                    <h2>RFQ features</h2>
                    <p class="red">Dynamic bidding is the way to grow <span>We created the online RFQs based on
                            auctions</span></p>
                    <p>We allow buyers to post opportunities anonymously and <span>suppliers to respond with their best
                            offer through an e-auction</span> </p>
                    <p>Suppliers can capture additional business by responding to online requests posted by clients</p>
                </div>
            </div>
        </div>
    </div>
</section>